/* @font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./assets/fonts/NunitoSans-Regular.ttf) format('truetype')
} */
/* @font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./assets/fonts/NunitoSans-Bold.ttf) format('truetype')
}
@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./assets/fonts/NunitoSans-Light.ttf) format('truetype')
} */